body {
  background: url(images/pattern.jpg) repeat;
  background-attachment:fixed;
}

.main_block, .main_block .main_nav {
  max-width: 1024px;
  margin:0 auto;
  box-shadow: 0px 4px 7px 0px rgba(210, 210, 210, 0.25);
  z-index: 9999;
}
.main_block {
  box-shadow: 0px 0px 29px 0px rgba(28, 28, 28, 0.11);
}
.desktop .swiper-pagination {
  display: block;
}
.rd-navbar-default.rd-navbar-light.rd-navbar-static .rd-navbar-inner {
  padding: 14px 15px 8px 16px;
}
.rd-navbar-default.rd-navbar-static .rd-navbar-inner .logo img {
    
}
.rd-navbar-default.rd-navbar-light.rd-navbar-static .rd-navbar-nav > li a {
  color: #888888;
}
.rd-navbar-default.rd-navbar-static .rd-navbar-nav > li > a {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-transform: none;
  padding: 2px 6px;
  letter-spacing: 0;
  border-radius: 5px;
  
}

  
.rd-navbar-default.rd-navbar-static .rd-navbar-nav > li + li {
  margin-left: 14px;
}
.rd-navbar-default.rd-navbar-static .rd-navbar-nav-wrap {
  margin-top: 12px;
}
.rd-navbar-default.rd-navbar-light.rd-navbar-static .rd-navbar-nav > li a:hover {
  background-color: #F1C40F;
  color: #fff;
}
.rd-navbar-default.rd-navbar-light.rd-navbar-static.rd-navbar--is-stuck .rd-navbar-inner {
  padding: 2px 15px 2px 16px;
}
  .rd-navbar-default.rd-navbar-light.rd-navbar-static.rd-navbar--is-stuck .rd-navbar-inner .rd-navbar-nav-wrap {
    
  }
  .rd-navbar-default.rd-navbar-static .rd-navbar-inner .logo img {
    width: 100%;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    margin-top: 0px;
  }
  .rd-navbar-default.rd-navbar-light.rd-navbar-static.rd-navbar--is-stuck .rd-navbar-inner .logo img {
    width: 150px;
    margin-top: 5px;
  }

  .rd-navbar-default.rd-navbar-static .rd-navbar-nav .right_button {
    margin-left: 2px;
  }
  .rd-navbar-default.rd-navbar-static .rd-navbar-nav .right_button.margin_left {
    margin-left: 30px;
    margin-right: 2px;
  }
    .rd-navbar-default.rd-navbar-static .rd-navbar-nav .right_button a {
      color: #888888;
      font-size: 14px;
      padding: 2px 6px;
    }
    .rd-navbar-default.rd-navbar-static .rd-navbar-nav .right_button a:hover {
      color: #505050 !important;
      background-color: inherit !important;
    }
    .rd-navbar-default.rd-navbar-static .rd-navbar-nav .right_button.lang {
      margin-top: -10px;
      width: 30px;
    }
    .rd-navbar-default.rd-navbar-static .rd-navbar-nav .right_button.lang a {
      padding: 0px 6px;
    }
    .rd-navbar-default.rd-navbar-static .rd-navbar-nav .right_button.lang span {
      width: 100%;
      float: left;
      text-align: center;
      line-height: 20px;
    }
    .rd-navbar-default.rd-navbar-static .rd-navbar-nav .right_button.lang .lang1{
      float: left;
    }
    .rd-navbar-default.rd-navbar-static .rd-navbar-nav .right_button.lang .lang2{
      border-top: 1px solid #888888;
      float: right;
    }
    .rd-navbar-default.rd-navbar-static .rd-navbar-nav .right_button.line_vert {
      height: 10px;
      margin-top: 1%;
      margin-left: 0;
      border-left: 1px solid #888888;
    }

.swiper-pagination {
  text-align: left; 
}
.swiper-container-horizontal > .swiper-pagination {
  left: 21px;
}
.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background: #989191;
}
.swiper-pagination-bullet:hover {
  background: #fff;
}
.swiper-pagination-bullet-active {
  background: #fff;
}
.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
  margin: 0 2px;
}


.content .block_left h5, .content .sidebar h5, .content .block_main h5{
  font-weight: bold;
  text-transform: uppercase;
  color: #505050;
}
  .content .block_left p, .content .block_main p {
    color: #333333;
    font-weight: 300;
    font-size: 14px;
  }
  .content .sidebar .new {
    margin: 25px 0 0 0;
  }
  .content .sidebar .new .date{
    font-size: 14px;
    font-weight: 300;
    color: #888888;
    margin: 0;
    padding: 0;
    line-height: 18px;
  }
  .content .sidebar .new .title{
    font-size: 14px;
    font-weight: 400;
    color: #505050;
    margin: 5px 0 0 0;
    padding: 0;
    line-height: 18px;
  }

/* price */

#price .responsive-tabs-classic {
  border-bottom: 0px;
}
#price .responsive-tabs .resp-accordion {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  text-transform: none;
  border-bottom: 2px dashed #F1C40F;
  padding: 12px 2px 3px 2px;
  display: table;
}
  #price .responsive-tabs .resp-accordion .resp-arrow { display: none; }
  #price .responsive-tabs .resp-accordion span{
    color: #F1C40F;
  }
#price .responsive-tabs-classic .resp-tab-content + .resp-accordion {
  border-bottom: 2px dashed #F1C40F;
}
#price .responsive-tabs .resp-tab-content {
    padding: 15px;
    margin-top: 15px;
    background-color: #FFF9E2;
}
  #price .responsive-tabs .resp-tab-content p {
    font-weight: 300;
    color: #333333;
    font-size: 14px;
    padding: 0;
    margin: 0;
  }
#price .fa {display: none !important;}
#document_list .responsive-tabs .resp-accordion {
  border-bottom: 0px !important;
  width: 100%;
}
#document_list .responsive-tabs .resp-tab-content {
  display: none;
}
#price_map {
  margin: 40px 0 0 20px;
  padding: 0;
}
  #price_map .map{
    margin: 0;
    padding: 0;
  }
  #price_map .block_left {
    /*padding-top: 30px;*/
  }
#map {
  width: 100%;
  height: 250px;
}
/* end price*/


/* wahtwedo */

#wahtwedo .element_wahtwedo .img {
  border-radius: 5px;
}

#wahtwedo .element_wahtwedo h5{
  font-size: 18px;
  color: #505050;
  font-weight: 700;
  text-align: left;
  margin-bottom: 13px;
}
#wahtwedo .element_wahtwedo p{
  font-size: 14px;
  color: #888888;
  font-weight: 300;
  text-align: left;
  margin-top: 13px;
}

/* end wahtwedo */

/* job */
#job .responsive-tabs-boxed .resp-accordion {
  padding-left: 20px;
  padding-right: 20px;
}
#job .responsive-tabs-boxed .resp-tab-content + .resp-accordion {
    margin-top: 20px !important;
}
#job .responsive-tabs-boxed .resp-accordion {
  background-color: #888888 !important;
  color: #fff;
  box-shadow: 0px 0px 7px 0px rgba(210, 210, 210, 0.35);
}
#job .responsive-tabs-boxed .resp-tab-content {
  border: 0px;
  box-shadow: 0px 0px 7px 0px rgba(210, 210, 210, 0.35);
}
#job .responsive-tabs-boxed .resp-tab-content {
  padding: 20px;
}
#job .responsive-tabs-boxed .fa {
  float: right;
}
#job .responsive-tabs-boxed .fa-arrow-up {
  display: none;  
}
#job .responsive-tabs-boxed .resp-tab-active .fa-arrow-down {
  display: none !important;
}
#job .responsive-tabs-boxed .resp-tab-active .fa-arrow-up {
  display: block !important;  
}

#job .send {
  background-color: #888888;
  padding: 9px 45px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
  margin: 15px auto 0;
  float: none;
  display: block;
}
#job form {
  width: 255px;
}
    #job form p{
      margin: 0 0 5px;
    }



/* end job */

/* news */

#news .label-primary {
    background-color: #F1C40F;
    border-radius: 4px;
    text-transform: none;
    font-weight: 300;
}
    #news .post-content .post-tags {
      text-align: right;
    }
    #news .post-content .post-title h3 {
      text-transform: none;
      font-size: 20px;
      font-weight: bold;
      width: 100%;
      float: left;
      margin-bottom: 10px;
    }
    #news .post-content .post-meta p {
      font-size: 12px;
      color: #fff;
      font-weight: 400;
      width: 70%;
      float: left;
    }
    #news .post-content .post-meta .link {
      text-transform: uppercase;
      font-size: 13px;
      padding: 4px 0;
      border-bottom: 1px dashed #fff;
      color: #fff;
      float: left;
      bottom: 0;
      right: 0;
      position: absolute;
    }

#news .post {
  box-shadow: 0px 15px 29px 0px rgba(210, 210, 210, 0.35);
  border-radius: 4px;
}

/* end news */

/* single_news */

#single_news .sidebar ul{
  margin: 0;
  padding: 0;
}
  #single_news .sidebar li{
    display: block;
  }
    #single_news .sidebar li a{
      color: #878787;
      font-size: 14px;
      font-weight: 400;
    }
    #single_news .sidebar li a:hover{
      color: #F0C30F;
    }
#single_news  .block_left img{
  /*float: left;*/
  margin: 0 15px 15px 0;
}

/* end single_new*/

/* contact */

#contact {
  position: relative;
}

#map_contact {
  width: 100%;
  height: 285px;
  z-index: 9;
}

#block_text_contact_map {
  position: absolute;
  z-index: 99;
  top: 50px;
  left: 20px;
  padding: 20px;
  background-color: #fff;
  text-align: left;
  width: 46%;
}

#block_text_contact_map h5{
  font-size: 14px;
  color: #505050;
  font-weight: 700;
  text-align: left;
  margin-bottom: 13px;
  text-transform: uppercase;
}
#block_text_contact_map p {
  font-size: 14px;
  color: #888888;
  font-weight: 300;
  text-align: left;
  margin: 0 0 5px;
}
  #block_text_contact_map p span {
    font-weight: 600;
    color: #505050;
  }

#contact .block_text h5 {
  font-size: 18px;
  color: #505050;
  font-weight: 700;
  text-align: left;
  margin-bottom: 13px;
  text-transform: uppercase;
  width: 100%;
}
  #contact .block_text .element {
    text-align: left;
    margin-top: 15px;
    padding: 0 20px 0 0;
  }
    #contact .block_text .element p{
      font-size: 14px;
      color: #888888;
      font-weight: 300;
      text-align: left;
      margin: 0 0 5px;
    }
      #contact .block_text .element p span {
        font-weight: 600;
        color: #505050;
      }

.block_form {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  margin-left: 20px;
  padding: 0 15px 15px;
}
  .block_form h5{
    font-size: 18px;
    color: #505050;
    font-weight: 700;
    text-align: left;
    margin: 10px 0;
    text-transform: uppercase;
  }

  .block_form .form-control {
    background-color: #fff;
    padding: 3px 10px;
    color: #505050;
    height: auto;
  }

  .block_form .form-control::-webkit-input-placeholder {color:#505050 !important;}
  .block_form .form-control::-moz-placeholder          {color:#505050 !important;}/* Firefox 19+ */
  .block_form .form-control:-moz-placeholder           {color:#505050 !important;}/* Firefox 18- */
  .block_form .form-control:-ms-input-placeholder      {color:#505050 !important;}

  .block_form .btn-primary {
    background-color: #F1C40F;
    padding: 4px 20px;
    border-color: #F1C40F;
    font-size: 14px;
    font-weight: bold;
    display: table;
    margin: 0 auto;
  }
  .block_form .btn-primary:hover {
    background-color: #F1C40F;
    border-color: #F1C40F;
  }

/* end contact */

.bg-gray-base {
  background-color: #F7F7F7;
  fill:#F7F7F7;
}

footer {
  padding: 34px 20px !important;
}
footer .text_footer p{
  color: #A7A7A7;
  font-size: 14px;
}
  footer .text_footer span {
    font-weight: 700;
  }