/* Footer */
.footer {
  padding: 35px 0;
  position: relative;
  background-color: rgba(25, 25, 50, 1);
  width: 100%;
  min-height: 120px;
  opacity: 1;
  font-family: 'NotoSans Regular', sans-serif;
  color: #fff;
}
.footer__bg {
  position: relative;
  top: 5px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.footer-logo {
  display: inline-block;
  height: 50px;
}
.footer__link {
  color: #fff;
}
.footer__link:hover, .footer__link:active,
.footer__link:focus {
  text-decoration: none;
  color: #fff;
}
.fa.fa-facebook, .fa.fa-twitter,
.fa.fa-google-plus, .fa.fa-linkedin {
  margin: 5px;
  padding: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-image: -webkit-linear-gradient(to right, rgb(42, 197, 97) 0%, rgb(140, 215, 29) 51%, rgb(42, 197, 97) 100%);
  background-image: -o-linear-gradient(to right, rgb(42, 197, 97) 0%, rgb(140, 215, 29) 51%, rgb(42, 197, 97) 100%);
  background-image: linear-gradient(to right, rgb(42, 197, 97) 0%, rgb(140, 215, 29) 51%, rgb(42, 197, 97) 100%);
  background-size: 200% auto;
  transition: 0.5s;
}
.fa.fa-facebook:hover, .fa.fa-twitter:hover,
.fa.fa-google-plus:hover, .fa.fa-linkedin:hover {
  background-position: right center;
  cursor: pointer;
  transition: 0.5s;
}
.footer__text {
  line-height: 24px;
}
/* Footer end */
/* Media queries */
/* Extra small */
@media only screen and (max-width: 575px) {

}

/* Small */
@media only screen and (max-width: 767px) {
  .footer-logo {
    display: inline-block;
    height: 45px;
  }
  .footer-social__group {
    text-align: right!important;
  }
  .footer-copyright__group {
    margin-top: 15px;
    text-align: center!important;
  }
}

/* Medium */
@media only screen and (max-width: 991px) {

}

/* Large */
@media only screen and (max-width: 1199px) {

}
