/* Fonts */
@font-face {
  font-family: 'NotoSans Regular';
  font-weight: 400;
  src: local('NotoSans Regular'), url('../fonts/NotoSans-Regular.ttf');
}
@font-face {
  font-family: 'NotoSans Bold';
  font-weight: 700;
  src: local('NotoSans Bold'), url('../fonts/NotoSans-Bold.ttf');
}
@font-face {
  font-family: 'RobotoSlab Bold';
  font-weight: 700;
  src: local('RobotoSlab Bold'), url('../fonts/RobotoSlab-Bold.ttf');
}
/* Fonts-end */
html>body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'NotoSans Regular', sans-serif;
  font-size: 14px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-size: 36px;
}
strong {
  font-family: 'NotoSans Bold', sans-serif;
}
.hr_g {
  border: none;
  width: 55px;
  height: 6px;
  margin: 20px 0;
  background-image: -webkit-linear-gradient(to right, rgb(42, 197, 97) 0%, rgb(140, 215, 29) 100%);
  background-image: -o-linear-gradient(to right, rgb(42, 197, 97) 0%, rgb(140, 215, 29) 100%);
  background-image: linear-gradient(to right, rgb(42, 197, 97) 0%, rgb(140, 215, 29) 100%);
  border-radius: 25px;
}
.btn_g {
  display: inline-block;
  border: none;
  outline: none;
  width: 100%;
  color: #fff;
  font-size: 16px;
  border-radius: 35px;
  font-family: 'NotoSans Bold', sans-serif;
  background-image: -webkit-linear-gradient(to right, rgb(42, 197, 97) 0%, rgb(140, 215, 29) 51%, rgb(42, 197, 97) 100%);
  background-image: -o-linear-gradient(to right, rgb(42, 197, 97) 0%, rgb(140, 215, 29) 51%, rgb(42, 197, 97) 100%);
  background-image: linear-gradient(to right, rgb(42, 197, 97) 0%, rgb(140, 215, 29) 51%, rgb(42, 197, 97) 100%);
  background-size: 200% auto;
  transition: 0.5s;
}
.owl-dot {
  border-radius: 50px;
  height: 15px;
  width: 15px;
  display: inline-block;
  background: rgba(50, 50, 50, 0.1);
  margin: 0 5px;
}
.owl-dot.active {
  background-image: -webkit-linear-gradient( 0deg, rgb(42, 197, 97) 0%, rgb(140, 215, 29) 100%);
  background-image: -moz-linear-gradient( 0deg, rgb(42, 197, 97) 0%, rgb(140, 215, 29) 100%);
  background-image: -o-linear-gradient( 0deg, rgb(42, 197, 97) 0%, rgb(140, 215, 29) 100%);
}
.owl-dots {
  position: relative;
  top: 40px;
  text-align: center;
  bottom: 5px;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.owl-prev, .owl-next {
  position: absolute;
  top: 45%;
  width: 35px;
  height: 35px;
  padding: 6px 14px;
  font-size: 1.5em;
  color: #888;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.owl-prev:hover, .owl-next:hover {
  opacity: 1;
}
.owl-prev {
  left: 15px;
}
.owl-next {
  right: 15px;
}
.slider .owl-dot {
  border-radius: 50px;
  height: 15px;
  width: 15px;
  display: block;
  background: rgba(255, 255, 255, 0.5);
  margin: 5px;
}
.slider .owl-dot.active {
  background: rgba(255, 255, 255, 1);
}
.slider .owl-dots {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  bottom: initial;
  width: initial;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.vr {
  margin: -25px 0;
  display: inline-block;
  width: 2px;
  height: 60px;
  background-color: #f7f7f7;
}
/* Slider */
.slider, .slider__block {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 580px;
  opacity: 1;
  font-family: 'NotoSans Regular', sans-serif;
}
.slider__text-group {
  position: absolute;
  top: 45%;
  z-index: 1;
}
.slider__title, .slider__text {
  font-family: 'RobotoSlab Bold', serif;
  color: #fff;
  line-height: 52px;
}
.slider__text {
  top: 55%;
  font-size: 16px;
  font-family: 'NotoSans Regular', serif;
}
/* Slider end */
/* Feedback */
.feedback {
  position: relative;
  bottom: 105px;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  min-height: 100px;
  opacity: 1;
  font-family: 'NotoSans Regular', sans-serif;
  z-index: 2;
}
.feedback__heading {
  margin-bottom: 40px;
  font-size: 16px;
  color: #fff;
}
.feedback-form {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 50px 5px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 0px 5px 50px 5px rgba(50, 50, 50, 0.1);
  box-shadow: 0px 5px 50px 5px rgba(50, 50, 50, 0.1);
}
.feedback-form__name, .feedback-form__phone {
  padding: 40px 10px 40px 50px;
  display: inline-block;
  max-width: 230px;
  width: 100%;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
.feedback-form__button {
  margin: 15px;
  padding: 20px;
  max-width: 225px;
  width: 100%;
}
.feedback-form__button:hover {
  background-position: right center;
  cursor: pointer;
  transition: 0.5s;
}
/* Feedback end */
/* Advantages */
.advantages {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  min-height: 280px;
  opacity: 1;
  font-family: 'NotoSans Regular', sans-serif;
}
.advantages__title,.advantage__heading {
  font-size: 24px;
  font-family: 'RobotoSlab Bold', serif;
}
.advantage__group {
  width: 100%;
  padding: 50px 30px 20px;
  min-height: 210px;
  transition: 0.5s;
}
.advantage__group:hover {
  -webkit-box-shadow: 0px 5px 50px 5px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 0px 5px 50px 5px rgba(50, 50, 50, 0.1);
  box-shadow: 0px 5px 50px 5px rgba(50, 50, 50, 0.1);
}
.advantage__img {
  height: 50px;
}
.advantage__heading {
  margin-top: 20px;
  font-size: 16px;
  line-height: 22px;
}
/* Advantages end */
/* Special */
.special {
  position: relative;
  padding: 80px 0;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  min-height: 500px;
  opacity: 1;
  font-family: 'NotoSans Regular', sans-serif;
}
.special__title, .special__heading {
  font-size: 24px;
  font-family: 'RobotoSlab Bold', serif;
}
.special__group {
  position: relative;
  min-height: 360px;
  margin: 20px 0;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
.special__img {
  width: 100%;
  height: 280px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.3s;
}
.special__group:hover .special__img {
  height: 210px;
}
.special__group:hover {
  transition: 0.3s ease;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
}
.special__caption {
  padding: 25px;
  background: #fff;
}
.special__button {
  margin: auto;
  padding: 15px;
  max-width: 175px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px;
  opacity: 0;
  -webkit-transform: translate3d(0,15px,0);
  transform: translate3d(0,15px,0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
.special__group:hover:hover .special__button {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.special__button:hover {
  background-position: right center;
  cursor: pointer;
  transition: 0.5s;
}
/* Special end */
/* Verify */
.verify {
  position: relative;
  margin: 60px 0;
  padding: 130px 0;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  min-height: 500px;
  opacity: 1;
  font-family: 'NotoSans Regular', sans-serif;
}
.verify__title {
  line-height: 52px;
  font-family: 'RobotoSlab Bold', sans-serif;
}
.verify__text {
  padding: 30px 0;
  line-height: 24px;
}
/* Verify end */
/* Reviews */
.reviews {
  position: relative;
  padding: 80px 0;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  min-height: 500px;
  opacity: 1;
  font-family: 'NotoSans Regular', sans-serif;
}
.reviews__title {
  font-size: 24px;
  font-family: 'RobotoSlab Bold', serif;
}
.reviews__block {
  padding: 40px 0;
}
.reviews__group {
  margin: 40px 5px 15px;
  position: relative;
  min-height: 210px;
}
.reviews .reviews__group .reviews__img {
  position: absolute;
  top: -40px;
  left: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.zmdi.zmdi-quote {
  position: relative;
  bottom: 10px;
}
.zmdi.zmdi-quote:before {
  background-image: -webkit-linear-gradient( 0deg, rgb(42, 197, 97) 0%, rgb(140, 215, 29) 100%);
  background-image: -moz-linear-gradient( 0deg, rgb(42, 197, 97) 0%, rgb(140, 215, 29) 100%);
  background-image: -o-linear-gradient( 0deg, rgb(42, 197, 97) 0%, rgb(140, 215, 29) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.reviews__caption {
  width: 100%;
  padding: 25px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
.reviews__caption:hover {
  transition: 0.3s ease;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
}
.reviews__text {
  position: relative;
  bottom: 15px;
  line-height: 24px;
  clear: both;
}
.reviews-name {
  margin: 20px 0 15px;
  font-family: 'NotoSans Bold', sans-serif;
}
.reviews-name, .reviews-position {
  text-transform: uppercase;
  font-size: 16px;
}
.reviews-position  {
  color: #888;
  font-size: 12px;
}
/* Reviews end  */
/* Consult */
.consult {
  position: relative;
  padding: 80px 0;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  min-height: 380px;
  opacity: 1;
  font-family: 'NotoSans Regular', sans-serif;
}
.consult__title {
  color: #fff;
  text-transform: uppercase;
  font-family: 'RobotoSlab Bold', serif;
}
.consult__text {
  padding: 40px 0;
  font-size: 16px;
  line-height: 24px;
  padding: 40px 0;
  color: #fff;
}
.consult__button {
  padding: 20px;
  max-width: 220px;
  width: 100%;
}
.consult__button:hover {
  background-position: right center;
  cursor: pointer;
  transition: 0.5s;
}
/* Consult end */
/* Offer */
.offer {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  min-height: 430px;
  opacity: 1;
  font-family: 'NotoSans Regular', sans-serif;
}
.offer__img {
  position: relative;
  top: 30px;
  height: 420px;
}
.offer__title {
  line-height: 52px;
  font-family: 'RobotoSlab Bold', serif;
  color: #fff;
}
.offer__list {
  display: block;
}
.offer__list-item {
  color: #fff;
  font-family: 'NotoSans Bold', sans-serif;
  font-size: 24px;
  line-height: 52px;
}
.offer__link {
  color: #fff;
  border-bottom: 2px dotted #fff;
}
.offer__link:hover, .offer__link:focus,
.offer__link:active {
  color: #fff;
  text-decoration: none;
}
/* Offer end */
/* News */
.news {
  padding: 120px 0;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 75%;
  width: 100%;
  min-height: 700px;
  opacity: 1;
  font-family: 'NotoSans Regular', sans-serif;
}
.news__title,.news__heading {
  font-size: 24px;
  font-family: 'RobotoSlab Bold', serif;
}
.news__group {
  margin: 15px 0;
  padding: 20px 15px;
  min-height: 310px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.news__img {
  height: 50px;
}
.news__heading {
  color: #fff;
}
/* News end*/
/* Media queries */
/* Extra small */
@media only screen and (max-width: 575px) {

}

/* Small */
@media only screen and (max-width: 767px) {

}

/* Medium */
@media only screen and (max-width: 991px) {

}

/* Large */
@media only screen and (max-width: 1199px) {

}
