.header {
  top: 0;
  z-index: 1000;
  position: fixed;
  width: 100%;
  transition: all 0.5s;
}
.header-topbar {
  height: 30px;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.header-topbar__text, .header-topbar__tel,
.header-topbar__email {
  display: inline-block;
  padding: 8px 0;
  color: #fff;
  font-family: 'NotoSans Bold', sans-serif;
  text-transform: uppercase;
}
.header-topbar__email, .header-topbar__tel {
  margin-left: 20px;
  text-transform: none;
}
.header-topbar__text {
  float: left;
}
/* Menu */
/* Menu animation */
.header-scroll {
	width: 100%;
  background-color: rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	transform: translateY(-30px);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.header-scroll .header-topbar {
  opacity: 0;
}
.header-scroll .header-list__link {
  color: #333;
}
.header-scroll .header-list__link:hover {
  color: #333;
}
.header-scroll .hamburger-box .hamburger-inner,
.header-scroll .hamburger-box .hamburger-inner:after,
.header-scroll .hamburger-box .hamburger-inner:before {
  background: #333;
}
/* Animation end */
.header-menu .navbar-toggler-right {
  padding: 30px 0;
  z-index: 1;
  outline: none;
}
.hamburger-box .hamburger-inner,
.hamburger-box .hamburger-inner:after,
.hamburger-box .hamburger-inner:before {
  background: #fff;
}
/*.header-menu {
  height: 90px;
}*/
.header-logo {
  width: 90px;
}
.header-logo__link {
  height: 60px;
  display: inline-block;
}
.header-logo__img {
  margin: 15px 0;
  height: 60px;
}
.header-nav {
  list-style: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header-list {
 font-size: 0;
 font-family: 'NotoSans Bold', sans-serif;
}
.header-list__item {
  position: relative;
  line-height: 90px;
  display: inline;
}
.header-list__link {
  position: relative;
  display: inline-block;
  line-height: 60px;
  color: #fff;
  font-size: 14px;
  margin-left: 18px;
}
.header-list__link:hover, .header-list__link:focus,
.header-list__link:active {
  text-decoration: none;
  color: #fff;
}
.header-list .dropdown-menu {
  top: -40px;
  display: inline-block;
  float: none;
  min-width: 130px;
  padding: 0;
  margin: 0 auto;
  text-align: left;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
  z-index: 0;
}
.dropdown-menu .header-list__link {
  line-height: 40px;
  padding: 0 15px;
}
.dropdown-menu .header-list__link:hover {
  background-color: #fff;
  color: #8f5ea8;
}
.header-submenu {
  display: inline-block;
  width: 130px;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  background-color: #fff;
  transition: 0.5s ease-out;
}
.header-list__item:hover > .header-submenu {
  top: 40px;
  opacity: 1;
  transition: 0.3s ease;
}
.header-submenu .header-list__link {
  width: 100%;
}
/* Toogle menu */
.hamburger {
  padding: 0;
}
/* Media queries */
/* Extra small */
@media only screen and (max-width: 575px) {

}

/* Small */
@media only screen and (max-width: 767px) {

}

/* Medium */
@media only screen and (max-width: 991px) {

}

/* Large */
@media only screen and (max-width: 1199px) {
  /*.header-menu {
    height: auto;
  }*/
  .header-list__item {
    display: block;
    text-align: center;
  }
}
